<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /blog_so_hard/app/webroot
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
