.floating-body {
	padding-top: 50px;
}
.centered {
  text-align: center;
}
div.vote-info.upvote > .vote-icon-up {
  color: orange;
}
div.vote-info.downvote > .vote-icon-down {
  color: blue;
}
.votes-positive {
  background-color: green;
}
.votes-negative {
  background-color: red;
}
.article {
  margin-top: 5px;
}
.checked.vote-icon-up {
  color: orange;
}
.checked.vote-icon-down {
  color: blue;
}
.truncate-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 15ch;
}
.author {
  font-size: x-small;
}
.author:before {
  content: "by";
}
.posted-date{
  font-size: small;
}
.posted-date:before {
  content: "Posted on "
}
