.floating-body {
	padding-top: 50px;
}
.centered {
  text-align: center;
}
.upvote {
	color: orange;
}
.downvote {
	color: blue;
}
.truncate-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 15ch;
}
.author {
  font-size: x-small;
}
.author:before {
  content: "by";
}
